{
  "Prefix": "+",
  "OwnerId": 1234567890,
  "GuildId": 1234567890,

  "DiscordBotToken": "",
  "GiphyToken": "",
  "Reddit": {
    "Username": "",
    "Password": "",
    "ClientId": "",
    "ClientSecret": "",
    "RedirectUrl": "https://www.reddit.com/prefs/apps"
  },

  "Modules": {
    "Memes": {
      "ChannelId": 1234567890,
      "Subreddits": [
        "dankmemes",
        "memes",
        "Memes_Of_The_Dank",
        "LeagueOfMemes",
        "DeepFriedMemes",
        "BikiniBottomTwitter",
        "4PanelCringe"
      ]
    },

    "Hmm": {
      "ChannelId": 1234567890,
      "CooldownPeriod": 20
    }
  },

  "Resources": {
    "GameStatusCollection": [
      "bing bing bong"
    ]
  }
}