{
  "Prefix": "+",
  "OwnerId": "",
  "DiscordBotToken": "",
  "GiphyToken": "",

  "Reddit": {
    "Username": "",
    "Password": "",
    "ClientId": "",
    "ClientSecret": "",
    "RedirectUrl": "https://www.reddit.com/prefs/apps"
  },

  "Modules": {
    "Hmm": {
      "CooldownPeriod": 20
    }
  }
}